body{

margin: 0;

padding: 0;

}

.bg{

position: relative;

background: #000 url(city.jpg);

height: 100vh;

background-repeat: repeat-x;

background-size: cover;

background-position: 0 0;

overflow: hidden;

animation: animate 20s linear infinite;

}

.car{

height: 30vh;

position: absolute;

bottom: 10px;

left: 10px;

}

@keyframes animate{

from{

background-position: 0 0;

}

to{

background-position: 100% 0;

}

}
